<nav class="navbar">
    <div class="div1"><a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Gêneros</a></div>
    
    <div class="div2"> <img src="./assets/logo/logo_steam.svg" alt="" [routerLink]="['/home']" routerLinkActive="active"> </div>

    <!-- <div class="div3">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Gêneros</a></li>
        <li class="breadcrumb-item" [routerLink]="['/rotas.rota']" routerLinkActive="active">{{rotas.rota}}</li>
      </ol>
    </div> -->
</nav>