<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Gêneros</a></li>
            <li class="breadcrumb-item" [routerLink]="['/esporte']" routerLinkActive="active">Esporte</li>
        </ol>
    </nav>
</div>
<div class="container justify-content-arond">
    <div class="card sectionSpace" *ngFor="let game of games">
        <img [src]="game.image" [alt]="game.title">
        <h5> {{game.title}} </h5>
        <p> {{game.desc}} </p>
    </div>
</div>