@font-face {
    font-family: 'Steam Font';
    src: url('./Steam Font Medium.ttf') format('truetype');
  }

img{
    margin: 25%;
    width: 500px;
}

h1{
    margin-top: -50%;
    color: whitesmoke;
    font-family: 'Steam Font';
    text-align: center;
}